/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/
.button {
  border-radius: 0;
  @include css-gradient(lighten($green, 10%), lighten($green, 2%));
  color: $black;
  cursor: pointer;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2.2;
  position: relative;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  display: block;
  margin: auto;
  width: 100%;
  padding: 0.5em;
  border-radius: 3px;
  max-width: 370px;

  &:hover {
    @include css-gradient(lighten($green, 2%), lighten($green, 10%));
  }

}


.outline_button {
  display: block;
  margin-top: 1em;
  padding: 1.75em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $white !important;
  border: 3px solid $off-black;
  background-color: rgba($off-black, 0.8);
  border-radius: 5px;
  opacity: 0.8;

  @include transition(all 0.2s);

  &:hover {
    background-color: $off-black;
  }
}

.outline_button_green {
  @extend .outline_button;



  color: $black !important;
  border: 3px solid $green;
  background-color: $green;

  @include transition(all 0.2s);

  &:hover {
    background-color: $green;
  }

}