.exec_container {
	position: relative;
	overflow: hidden;

	img {
		position: relative;
		z-index: 2;
		margin-bottom: 0 !important;

		-webkit-transition: all 0.7s ease; /* Safari and Chrome */
	    -moz-transition: all 0.7s ease; /* Firefox */
	    -ms-transition: all 0.7s ease; /* IE 9 */
	    -o-transition: all 0.7s ease; /* Opera */
	    transition: all 0.7s ease;
	}

	&:hover {
		img {
			-webkit-transform:scale(1.01); /* Safari and Chrome */
		    -moz-transform:scale(1.01); /* Firefox */
		    -ms-transform:scale(1.01); /* IE 9 */
		    -o-transform:scale(1.01); /* Opera */
		     transform:scale(1.01);
		}
	}

	.exec_info {
		position: absolute;
		z-index: 3;
		background: $white;
		color: $black;
		padding: 15px;
		left: 0;
		bottom: 6px;
		opacity: 0.8;
		width: 100%;
		max-width: 350px;
		@include transition(background 0.2s);

		&:before {
			content: "";
			position: absolute;
			border-left: 18px solid transparent;
			border-right: 18px solid transparent;
			top: 0;
			left: 10%;
			margin-left: -10px;
			border-bottom: 20px solid $white;
			margin-top: -19px;
			z-index: 1;
			@include transition(border-bottom 0.2s);
		}

		&:hover {
			background: $green;
			cursor: pointer;

			&:before {
				border-bottom: 20px solid $green;
			}
		}
	}

	.exec_name {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.19em;
	}

	.exec_summary {
		font-size: 0.9em;
	}

	.seemore {
		font-weight: bold;
		text-transform: uppercase;
		display: block;
	}
}

/*popup css*/
.exec_onclick_shadow {
	z-index: 9997;
	background: $black;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.exec_info_onclick {
	position: fixed;
	z-index: 9998;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 400px;
	background: $white;
	color: $off-black;
	margin: -200px 0 0 -350px;
}

.exec_exit {
	z-index: 9999;
	color: $off-black;
	padding: 5px;
	font-size: 18px;
	position: absolute;
	right: 5px;
	top: 5px;

	&:hover {
		cursor: pointer;
	}
}


/*and for all the elements within that popup...*/

.exec_summary_onclick {
	img {
		position: absolute;
		left: 25px;
		top: 25px;
		width: 235px;
		float: left;
		z-index: 10;
	}
}

.exec_title_onclick {
	position: relative;
	z-index: 3;
	background: $green;
	color: $black;
	padding: 20px;
	left: 0;
	top: 0;
	bottom: 6px;
	opacity: 0.8;
	width: 100%;
	height: 75px;

	&:after {
		content: "";
		position: absolute;
		border-left: 18px solid transparent;
		border-right: 18px solid transparent;
		top: 100%;
		left: 48%;
		margin-left: -10px;
		border-top: 20px solid $green;
		margin-top: -5px;
		z-index: 1;
	}

	.exec_name {
		width: 50%;
		float: right;
		text-transform: uppercase;
		font-weight: 100;
		font-size: 1.5em;
		padding: 0.5em;
	}
}

.exec_content_onclick {
	position: relative;
	width: 50%;
	float: right;
	font-size: 0.85em;
	margin-top: 15px;
	margin-right: 15px;
	text-align: justify;
}

/*Mobile Fixes*/

@media (max-width:750px) {
	.exec_info_onclick {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		float: left;
		width: 100%;
		max-height: 400px;
		overflow: scroll;
		background: $white;
		color: $off-black;
		margin: 0;
	}

	.exec_summary_onclick img {
		display: none;
	}

	.exec_title_onclick .exec_name {
		float: left;
		width: 100%;
	}

	.exec_content_onclick {
		position: absolute;
		width: 75%;
		float: left;
		font-size: 1em;
		margin-top: 15px;
		margin-left: 30px;
		z-index: 9999;
		text-align: justify;
	}
}