/*Here is some Sass conviniently set aside to handle all the subcategory hover effects...*/

/*Subcategory Hover effects======================================
	=================================================================
	=================================================================*/

	/*slightly bigger for the featured post*/
	.featured-post {
		.subcategory-image {
			height: 80px;
			width: 56px;
			background-position: 0px 0px;

			&:hover {
				background-position: 0 -82px;
			}
		}
	}

	.secondary-blog {
		.subcategory-image {
			height: 63px;
			width: 45px;
			background-position: 0px 0px;

			&:hover {
				background-position: 0 -66px;
			}
		}
	}


	@mixin subcat($background) {
		background: $background;
		background-size: 100%;
	}

	.subcategory {

		/*content-marketing*/

		.content-marketing {
			@include subcat(url(../images/blog-images/subcategory_thumbs/contentmarketing.png) no-repeat)
		}


		/*seo*/

		.seo {
			@include subcat(url(../images/blog-images/subcategory_thumbs/seo.png) no-repeat)
		}
	}