/*Here is some Sass conviniently set aside to handle all the subcategory hover effects...*/

/*Subcategory Hover effects======================================
	=================================================================
	=================================================================*/

	/*slightly bigger for the featured post*/
	.featured-post {
		.subcategory-image {
			height: 80px;
			width: 56px;
			background-position: 0px 0px;

			&:hover {
				background-position: 0 -82px;
			}
		}
	}

	.secondary-blog {
		.subcategory-image {
			height: 63px;
			width: 45px;
			background-position: 0px 0px;

			&:hover {
				background-position: 0 -66px;
			}
		}
	}

	.sidebar {
		.subcategory {
			width: 100%;
			display: block;
			float: left;
		}

		.subcategory-image {
			display: block;
			margin: 1em auto;
			height: 63px;
			width: 45px;
			background-position: 0px 0px;

			&:hover {
				background-position: 0 -66px;
			}
		}
	}


	@mixin subcat($background) {
		background: $background;
		background-size: 100%;
	}

	.subcategory {

		/*content-marketing*/

		.content-marketing {
			@include subcat(url(../images/blog-images/subcategory_thumbs/contentmarketing.png) no-repeat)
		}

		/*contentwriting*/

		.contentwriting {
			@include subcat(url(../images/blog-images/subcategory_thumbs/contentwriting.png) no-repeat)
		}

		/*contentanalytics*/

		.contentanalytics {
			@include subcat(url(../images/blog-images/subcategory_thumbs/contentanalytics.png) no-repeat)
		}

		/*seo*/

		.seo {
			@include subcat(url(../images/blog-images/subcategory_thumbs/seo.png) no-repeat)
		}

		/*videomarketing*/

		.videomarketing {
			@include subcat(url(../images/blog-images/subcategory_thumbs/videomarketing.png) no-repeat)
		}

		/*graphics*/

		.graphics {
			@include subcat(url(../images/blog-images/subcategory_thumbs/graphics.png) no-repeat)
		}
		
		/*videos*/

		.videos {
			@include subcat(url(../images/blog-images/subcategory_thumbs/videos.png) no-repeat)
		}

		/*socialmedia*/

		.socialmedia {
			@include subcat(url(../images/blog-images/subcategory_thumbs/socialmedia.png) no-repeat)
		}
	}