/*Here is some Sass conviniently set aside to handle all the subcategory hover effects...*/

/*Subcategory Hover effects======================================
	=================================================================
	=================================================================*/

	.subcategory-image {
		height: 80px;
		width: 56px;
		background-position: 0px 0px;
	}

	/*content-marketing*/

	@mixin subcat($background) {
		background: $background;
		background-size: 100%;

		&:hover {
			background-position: 0 -82px;
		}
	}

	.subcategory {

		/*content-marketing*/

		.content-marketing {
			@include subcat(url(../images/blog-images/subcategory_thumbs/contentmarketing.png) no-repeat)
		}


		/*seo*/

		.seo {
			@include subcat(url(../images/blog-images/subcategory_thumbs/seo.png) no-repeat)
		}
	}