.tagbar {
	background: url(../images/blog-images/tagbar.png) no-repeat;
	background-size: 100%;
	margin-bottom: -5px;
	height: 47px;
}

/*tag sprites===============================
============================================*/

.tag-image {
	background:none no-repeat left center;
	background-size: 100%;
	display: inline-block;
	margin-top: 3px;
	margin-right: 2%;

	/*move sprite on hover...*/
	&:hover,
	&.selected {
		background-position: 0 100%;
	}
}

/*local mixin for these tag sprites...*/

@mixin tag_sprite($width, $paddingbottom) {
	background-position: 0 0;
	width: $width;
	padding-bottom: $paddingbottom;
	height: 0;
}
/*all tag*/

.all-tag {
	/*could use interpolation for background image- does not seem to work with 
	WP-SCSS compiler...*/
	background-image: url(../images/blog-images/tags/all.png);
	@include tag_sprite(4.3%, 3.2%);
}
/*brafton community*/

.brafton-community {
	background-image: url(../images/blog-images/tags/community.png);
	@include tag_sprite(15%, 3.2%);
}

/*content strategy*/

.content-strategy {
	background-image: url(../images/blog-images/tags/contentstrategy.png);
	@include tag_sprite(13%, 3.1%);
}

/*engaging customers*/

.engaging-customers {
	background-image: url(../images/blog-images/tags/engaging.png);
	@include tag_sprite(17%, 3.1%);
}

/*get found*/

.getting-found {
	background-image: url(../images/blog-images/tags/gettingfound.png);
	@include tag_sprite(9%, 3.2%);
}

/*lead gen & sales*/

.sales {
	background-image: url(../images/blog-images/tags/sales.png);
	@include tag_sprite(13%, 3.1%);
}

/*marketing-news*/

.marketing-news {
	background-image: url(../images/blog-images/tags/marketingnews.png);
	@include tag_sprite(13%, 3.1%);
}

/*side bar versions of all these tags*/

.widget {

	.brafton-community {
		background-size: 63%;
	}

	.sales,
	.marketing-news,
	.content-strategy {
		background-size: 58%;
	}

	.getting-found {
		background-size: 39%;
	}

	.engaging-customers {
		background-size: 76%;
	}

	.sidebar-tag-image {
		width: 100% !important;
		padding-bottom: 40px;
		background-repeat: no-repeat;

		&:hover {
			background-position: 0 100%;
		}
	}
}
