/******************************************************************
Site Name:Brafton
Author: Michael DeWitt

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/



/*fixed navbar ONLY on blog page*/

.category-blog {
	.header {
		position: fixed;
		z-index: 11000;
	}

	#archive {
		margin-top: 70px;
	}
}

.tagbar {
	.tag {
		padding: 13px 2%;
	}
}

.featured-post {
	.image-inner {
		width: 22%;
	}
}

.secondary-blog {
	#topinfo {
		width: 60%;

		.author,
		.meta-wrapper {
			display: inline-block;
		}

	}
}

.arrow_to_infinity {
	height: 35px;
	margin-top: 20px;
}

.wrap {
  width: 95%;
}

/*Switch out logos at this screen size*/

.mobile_logo {
	display: none;
}

.full_logo {
	display: inline-block;
}

.logo {

	margin: 0.25em 0.5em;

	img {
		width: 92%;
	}
}

/*and increase font-size on larger devices*/

.full_logo {
	width: 275px;
}

.header {

	.nav {

		li {
			float: left;
			position: relative;

			a {
				font-size: 0.75em;
			}
		}

		li.highlight {
			a {
				padding: 1.75em;
			}
		}

	} /* end .nav */

}/*end .header*/

.graphical-header {
	h1 {
		font-size: 2.85em;
	}
}


/*Bring up the sidebar on the blog hub page on larger devices...*/

.blog_sidebar {
	position: absolute;
	right: 0;
	top: 20%;
}

/*Special considerations for single blog posts*/

.single {
	#topinfo {
		width: 60%;
		margin-top: 40px;
	}

	.blog_header,
	.featured-post {
		h1 {
			font-size: 2.75em;
		}
	}
}

/*Special considerations for twits*/

.tagged-twit {

	#topinfo {
		width: 95%;
		min-height: 225px;
		margin-top: 25px;
	}

	.single-twit {
		position: absolute;
		width: 55%;
		left: 5%;
		top: 245px;

		img {
			width: 100%;
			max-width: 750px;
		}
	}

	.author-cat-time-container {
		float: right;
		width: 33%;
	}

	 .entry-content {
		margin-top: 300px;
	}
}


/*top footer fixes*/

.footer {
	#top-footer {
		.footer-cta-container {
			.footer-contact-us {
				right: 90px;

				a {
					padding: 25px 40px;
				}
			}
		}

		nav {

			ul.sub-menu,
			ul.children {
				
				li {

					display: block;

				}
			}
		}
	}
}

/*Styles for support page cms bar */

/*************
Support page styles
**************/
.support-cms-bar {
	display: block;
	height: auto;
	width: 100%;
	float: left;
	background: rgba(0,0,0,0.8);
	text-transform: uppercase;

	.support-link-container {
		display: none;
	}

	.support-cta {
		margin-right: 1em;

		.get-help,
		.choose-cms {

			display: inline-block;
			color: $white;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 2px;
			padding: 10px 10px;

			&:hover {
				cursor: pointer;
			}
		}

		.get-help {
			background: $green;
			color: $black;
		}
	}

	ul {
		text-align: left;
		display: inline;
		margin: 0;
		padding: 0;
		font-weight: bold;
		letter-spacing: 2px;
		list-style: none;
		-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

		li {
			display: inline-block;
			font-size: 14px;
			margin-right: -4px;
			position: relative;
			padding: 6px 19.5px;
			cursor: pointer;
			@include transition(all 0.2s);

			a {
				color: $white;
				text-decoration: none;
			}

			&:hover {
				background: $green;
				color: $black;

				ul {
					display: block;
					opacity: 1;
					visibility: visible;
				}
			}

			ul {
				z-index: 9999;
				padding: 0;
				position: absolute;
				top: 33px;
				left: 0;
				width: 150px;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				display: none;
				opacity: 0;
				visibility: hidden;
				@include transition(opacity 0.2s);

					li { 
						background: rgba(0,0,0,0.8);
						display: block; 
						text-shadow: 0 -1px 0 #000;

						@include transition(all 0.2s);

						&:hover {
							background: $green;

						}

						a {
							&:hover {
								color: $black;
							}
						}
				}
			}
		}
	}
}