/******************************************************************
Site Name:Brafton
Author: Michael DeWitt

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 96%;
}

/*move from mobile menu to desktop menu...*/

#logo {
	display: inline;
	width: auto;
}

nav {
	float: right;
	width: auto;
}

.nav {
	float: right;
	border: 0;
	ul {
		background:$white;
		margin-top:0;
	}
	li {
		float: left;
		position: relative;

		a {
			border-bottom: 0;
			display: block;
			font-size: 0.8em;
			color: $white;
			text-decoration: none;
			text-transform: uppercase;
			padding: 2em;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $white;
				text-decoration: none;
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			background: #fff;
			margin-top: 0;
			border: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;



			li {

				a {
					background: $black;
					color: $white;
					padding-left: 10px;
					//border: 2px solid $black !important;
					display: block;
					width: 180px;
					padding: 0.75em;

					@include transition(background 0.2s);

					&:hover,
					&:focus {
						opacity: 0.8;
					}


					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	li.highlight {
		a {
			background: $green;
			color: $black;
			font-weight: bold;
			font-size: 0.9em;
			padding: 1.75em;
		}
	}

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */