/******************************************************************
Site Name: Brafton
Author: Mike DeWitt

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.tagbar {
	.tag {
		padding: 13px 2%;
		font-size: 0.8em;
	}
}