/******************************************************************
Site Name:Brafton
Author:Michael DeWitt
Stylesheet: Tablet & Small Desktop Stylesheet
Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!
******************************************************************/


/*********************
GENERAL STYLES
*********************/

/*unveil the slidr starting in tablet view...*/
.home {
	.rev_slider_wrapper {
		display: block !important;

		.tp-bullets {
			&.tp-thumbs {
				margin-top: 0 !important;

				&.navbar {
					background-color: $off-black;
					padding: 0;
				}

				&.bullet {
					opacity: 0.3 !important;
				}
			}
		}

		.slider_button {
			font-size: 14px !important;
			z-index: 99999;
			display: inline;
			margin-right: 15px !important;

			&.demo {

			}

			&.service {

			}
		}
	}

	.slider-subnav {
		display: block;
		background-color: $black;
		float: left;
		width: 100%;
		margin: 0;
		
		li {
			text-align: center;

			a {
				color: $white;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 0.75em;
				letter-spacing: 1px;
				padding: 1em;

				@include transition(all 0.2s);

				&:hover {
					background-color: $off-black;
				}

			}
		}
	}

	.template_section{

		.content_container {

			.content_body {
				width: 75%;

			}
		}
	}
}


/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 95%;
}

/*********************
HEADER STYLES
*********************/

.graphical-header {
	width: 100%;
	max-height: 225px;
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}

	h1 {
		position: absolute;
		top: 150px;
		background: rgba($green, 0.8);
		padding: 25px 100px;
		width: 90%;
		text-align: left;
	}
}

.mobile-graphical-header {
	display: none;
}

.post-type-archive-executives {
	#crumbs {
		margin-bottom: 1em;
	}
}


/*Content writers page*/


.template_section {
	.content_body {
		.reasons_inner {
			img {
				display: inline-block;
				float: left;
				margin-right: 1.5em;
				margin-bottom: 1.5em;
			}
		}
	}
}

/**********************
NAVIGATION STYLES
*********************/

/*move from mobile menu to desktop menu...*/

.mobile_logo {
	display: block;
}

.full_logo {
	display: none;
}


nav {
	float: right;
	width: auto;
}

.header {

	.nav {
		float: right;
		border: 0;
		ul {
			background:$white;
			margin-top:0;
		}

		li {
			float: left;
			position: relative;

			a {
				border-bottom: 0;
				display: block;
				font-size: 0.65em;
				color: $white;
				text-decoration: none;
				text-transform: uppercase;
				padding: 2.19em;
				letter-spacing: 1px;

				/*
				you can use hover styles here even though this size
				has the possibility of being a mobile device.
				*/
				&:hover, &:focus {
					color: $white;
					text-decoration: none;
				}
			}

			&:first-child {}
			&:last-child {}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				background: #fff;
				margin-top: 0;
				border: 0;
				position: absolute;
				visibility: hidden;
				z-index: 8999;



				li {

					a {
						background: $black;
						color: $white;
						padding-left: 10px;
						//border: 2px solid $black !important;
						display: block;
						width: 180px;
						padding: 0.75em;

						@include transition(background 0.2s);

						&:hover,
						&:focus {
							opacity: 0.8;
						}


						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}

					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {
						top:0;
						left:100%;
					}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a {}
				}
			}

			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}

		} /* end .menu ul li */

		li.highlight {
			a {
				background: $green;
				color: $black;
				font-weight: bold;
				font-size: 0.9em;
				padding: 1.45em;
			}
		}

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  /* end current highlighters */

	} /* end .nav */

}/*end .header*/

/***************************
BLOG-Landing Page
****************************/

.tagbar,
.scrolly {
	display: block;
}

.tagbar {
	background: rgba(0, 0, 0, 0.6);
	background-size: 100%;
	height: auto;

	.selected.tag {
		background: $green;
		color: $black;
		font-weight: bold;
		opacity: 0.8;
	}

	.tag {
		display: inline-block;
		padding: 13px .7%;
		color: $white;
		font-size: 0.6em;
		font-weight: bold;
		letter-spacing: 0.75px;
		text-transform: uppercase;

		@include transition(all 0.2s);

		&:hover{
			background: $green;
			color: $black;
			opacity: 0.8;
		}
	}

	.taglink {
		text-decoration: none;
	}
}

.sidebar_tags {
	@extend .tagbar;
	background: $white;

	.tag {
		background: $off-black;
		opacity: 0.8;
		font-size: 0.55em !important;
		border: 2px solid $off-black;
		border-style: ridge;
		margin-right: 10px;
		margin-top: 20px;
	}
}

.arrow_to_infinity {
	width: 100%;
	display: block;
	height: 40px;
	margin-left: 1em;
}


/*#topinfo- container for an individual post.  Shared by both
the featured post and the remaining posts....*/

#topinfo {

	position: relative;
	width: 45%;
	float: left;

	a {
		text-decoration: none;
	}

	.author {
		float: left;
		position: relative;
		top: 0;
		margin-right: 8px;
		right: 0;

		span {
			font-size: 0.6em;
			text-transform: uppercase;
		}

		img {
			width: 100px;
			height: auto;
		}
		.user {
			display: block;
			text-align: center;
		}
	}  
	
	.subcategory, .readtime {
		float: left;
	}

	.meta-wrapper {
		float: left;
		position: absolute;
		bottom: 8px;
		left: 115px;
	}

	.readtime {
		margin-right: 8px;
		padding: 10px;  /*in px to match exactly with the subcat sprite */
		background: darken($light-grey, 7%);

		img {
			width: 35px;
			display: inline-block;
			float: left;
		}

		.read_number {
			font-size: 2.2em;
			font-weight: 600;
			display: inline;
		}

		span {
			float: left;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-left: 1em;
			line-height: 16px;
		}
	}
}



/*some special considerations for the featured post*/


.featured-post {
	background: url(../images/blog-images/headerbackground.png) no-repeat;
	background-size: 100%;
	margin-bottom: 2em;

	.arrow_to_infinity {
		width: 66%;
	}

	h1 {
		background: none;
		color: $black;
		width: 100%;
		float: left;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		padding-bottom: 0px;
		margin: 0.25em 2em;
		text-align: left;
	}

	h2 {
		font-size: 2em;
	}


	.image-inner {
		margin: 1em 1em 0 5em;
		width: 37%;
		max-height: 225px;
	}

	#topinfo {
		.meta-wrapper,
		.author {
			display: inline-block;
		}

		.meta-wrapper {
			left: 117px;
		}
	}
}


.blog_header {

	@extend .featured-post;

	h1 {
		margin: 0.25em 1em;
	}
}

.title_info_container {
	padding-bottom: 10px;
	width: 100%;
	display: inline-block;
	text-align: left;
}

.image-inner {
	margin: 1em 1em 0 5em;
	width: 25%;
	max-height: 175px;
	overflow: hidden;
	display: inline-block;
	float: left;

	img {
		width: 100%;
		height: auto;
	}
}

/*Some special considerations for the secondary blog area*/

.secondary-blog {
	margin-bottom: 5em;

	article {
		margin-bottom: 1em;
	}

	.arrow_to_infinity {
		width: 100%;

		&.featured {
			width: 100%;
		}
	}

	h2 {
		font-size: 1.25em;
	}

	#topinfo {
		width: 50%;

		.readtime {

			img {
				width: 25px;
			}

			.read_number {
				font-size: 1.5em;
				font-weight: 600;
				display: inline;
			}

			span {
				font-size: 0.6em;
				line-height: 12px;
			}
		}

		.meta-wrapper {
			left: 115px;
			bottom: 13px;
		}
	}
}

/*And some special considerations just for single blog posts*/

.single {
	.featured-post {
		h1 {
			font-size: 1.75em;
			text-transform: none;
		}
	}

	.blog_header {
		padding-bottom: 1.5em;

		&:after {
			content: " ";
			display: block; 
			height: 0; 
			clear: both;
		}
	}

	#topinfo {
		width: 45%;
		margin-top: 10px;
		height: 160px;

		.meta-wrapper {
			position: relative;
		}
	}

	.arrow_to_infinity {
		margin-left: 0;
	}
}


.tag-client-success-stories {
	#topinfo {
		.meta-wrapper {
			position: relative;
			left: 0;
		}
	}
}




/*special css for twits and videos*/

	.single {

		&.tagged-slideshare, &.tagged-marketing-twit, &.tagged-videos {


		.blog_header {
			margin-bottom: -25px;
			padding-bottom: 0;
		}

		#topinfo {
			width: 80%;
			margin-top: 0;
			margin-bottom: 0;
		}

		.single-twit-or-video {

			margin-bottom: 1em;

			img {
				width: 100%;
				max-width: 750px;
			}

			/*placeholder for the youtube demo*/
			iframe {
				width: 100%;
			}
		}

		.author-cat-time-container {
			float: right;
			width: 33%;
		}

	}

	&.tagged-videos {
		.to_read {
			display: none;
		}

		#topinfo {
			.readtime {
				span {
					margin-top: 10px;
				}
			}
		}
	}
}


/*Footer stuff*/

.tag_thumbnails img {
	width: 94px;
}

.boilerplate {
	margin: 0 !important;

	.bio {
		background: rgba($green, 0.4);
	}

	.icons {
		float: left;
		margin-top: 9px;
	}
}



.authorprofile {
	background: none !important;
	float: left !important;

	img {
		width: 70px;
		float: left;
	}
}

.single hr,
.archive hr {
	border: none;
}

.single .arrow_to_infinity {
	background: url(../images/blog-images/arrow_to_infinity.png) no-repeat;
	width: 100%;
	display: block;
	height: 34px;
	background-size: 100%;
	margin-bottom: -15px;
}

.bottom-cta {
	height: 64px;
	margin-top: 75px;
	overflow: visible;
	margin-bottom: 35px;
}


#comments h1 {
	margin-bottom: 20px;
}

.ourlatestfooter,
.marketzine,
.askamarketer {
	width: 250px;
	height: 162px;
	display: inline-block;
	margin-top: -70px;
	background-size: 100% !important;
	margin-left: 20px;

	&:hover {
		background-position: 0px -163px;
		cursor: pointer;
	}
}

.ourlatestfooter {
	background: url(../images/blog-images/ourlatestfooter.png) no-repeat;
}

.marketzine {
	background: url(../images/blog-images/marketzine.jpg) no-repeat;
}

.askamarketer {
	background: url(../images/blog-images/askamarketer.jpg) no-repeat;
}

.bottom-cta-container {
	width: 825px;
	display: block;
	margin: auto;
}


/*Popup footer form*/

/*popup css*/

.popup_form_shadow {
	z-index: 9997;
	background: $black;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.popup_form {
	position: fixed;
	z-index: 9998;
	top: 50%;
	left: 50%;
	width: 460px;
	background: rgba($white, 0.9);
	color: $off-black;
	margin: -185px 0 0 -230px;
	padding: 0 2em;
	border: 5px solid $white;
	border-style: outset;

	h2 {
		text-transform: uppercase;
		font-size: 1.5em;
	}

	.f-row {
		margin-top: 1.25em;
	}

	.button {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.wpcf7-response-output {
		margin-top: 0 !important;
	}

	&.landing_page_popup {
		margin: -285px 0 0 -230px;

		h2 {
			text-transform: uppercase;
			text-align: center;
			font-weight: 100;
		}

		.button {
			width: 100%;
		}

		input[type="text"] {
			padding: 14px 12px;
		}
	}
}

.popup_form_exit {
	z-index: 9999;
	color: $off-black;
	padding: 5px;
	font-size: 18px;
	position: absolute;
	right: 5px;
	top: 5px;

	&:hover {
		cursor: pointer;
	}
}

.fixed-page-footer {
	height: 37px;
	width: 100%;
	display: block;
	background: rgba(255, 255, 255, 0.7);
	float: left;
	text-align: center;

	div {
		margin: 0 1em;
	}

	.contact_us,
	.request_demo {

		display: inline-block;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 3px;
		background: $green;
		color: $off-black;
		padding: 9px 16px;

		@include transition(all 0.2s);

			&:hover {
				background: $off-black;
				color: $green;
				cursor: pointer;
			}
		}

	.askamarketer {
		/* @extend .contact_us not working?  :( */
		display: inline-block;
		height: auto;
		width: auto;	
		text-transform: uppercase;
		text-decoration: none;
		font-size: 0.8em;
		font-weight: bold;
		letter-spacing: 3px;
		background: $green;
		color: $off-black;
		padding: 9px;

		@include transition(all 0.2s);

			&:hover {
				background: $off-black;
				color: $green;
				cursor: pointer;
			}
		}

	.conversation {
		padding: 13px;
		font-size: 1.2em;
		margin-left: 5px;
		display: inline-block;
		float: left;
	}
}

/*********************
BUSINESS MODEL LANDING PAGE TEMPLATE
*********************/

.business_model_container {

	.business_section {
		display: block;

		.content_container {
			padding: 3em 10em;
		}
	}
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 1em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*careers sidebar*/

/*side bar on careers page*/

.sidebar {
	#testi {
		display: block;
		height: 0;
		padding-bottom: 150%;
		overflow: hidden;
		clear: both;
		margin-top: -81px;

		.quote {
			img {
				width: auto;
				height: auto;
			}
		}
	}
}

/*********************
FOOTER STYLES
*********************/


.footer {
	#top-footer {
		width: 100%;
		float: left;
		background: $off-black;
		display:block;

		nav {
			width: 100%;
			text-align: center;

			ul {
				width: 92%;
				display: inline-block;

				li {
					float: left;
					text-transform: uppercase;
					display: inline-block;
					font-size: 1.2em;
					width: 24.99%;
					text-align: left;
					padding-left: 75px;
					padding-top: 25px;

					a {
						color: $white;
						text-decoration: none;
					}
				}
			}

			ul.sub-menu,
			ul.children {
				margin-top: 0;

				li {
					padding: 0;
					width: 100%;
					height: 35px;
					display: none;

					a {
						font-size: 0.5em;
					}
				}
			}
		}

		.footer-cta-container{

			margin: 0.5em 0;
			text-align: center;
			position: relative;

			.footer-contact-us {
				position: absolute;
				right: 30px;
				bottom: 40px;

				a {
					padding: 15px 10px;
					border-radius: 2px;
					background: $black;
					color: $green;
					font-weight: bold;
					letter-spacing: 2px;
					text-decoration: none;

					@include transition(all 0.2s);

					&:hover {
						color: $black;
						background: $green;
					}
				}
			}

			.follow-us {
				text-align: center;
				letter-spacing: 2px;
				font-weight: 600;
				font-size: 1.25em;
				display: block;
				width: 155px;
				margin: auto;
				background: #333;
			}

			.footer-social-icons {
				height: 70px;
				display: inline-block;
				border-bottom: 2px solid lighten(#333, 8%);

				.cube {
					float: left;
					height: 45px;
					width: 45px;
					margin: 5px;
					background: url(/wp-content/themes/brafton/library/images/footer_social_sprite.png);
					background-size: 390px 45px;
					
					&.footer-linkedin {
						background-position: 331px 0px;
					}				

					&.footer-facebook {
						background-position: 216px 0px;
					}				

					&.footer-gplus {
						background-position: 160px 0px;
					}				

					&.footer-pinterest {
						background-position: 273px 0px;
					}				

					&.footer-youtube {
						background-position: 101px 0px;
					}

					&.footer-rss {
						background-position: 47px 0px;
					}

					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}
}