/******************************************************************
Site Name:Brafton
Author:Michael DeWitt

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

/*unveil the slidr starting in tablet view...*/
.home {
	.rev_slider_wrapper {
		display: block !important;
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 95%;
}

/*********************
HEADER STYLES
*********************/

.graphical-header {
	display: block;
	width: 100%;

	img {
		width: 100%;
	}
}

.mobile-graphical-header {
	display: none;
}

.post-type-archive-executives {
	#crumbs {
		margin-bottom: 1em;
	}
}

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/



/***************************
BLOG-Landing Page
****************************/

.tagbar,
.scrolly {
	display: block;
}

.tagbar {
	background: rgba(0, 0, 0, 0.6);
	background-size: 100%;
	height: auto;

	.selected.tag {
		background: $green;
		color: $black;
		font-weight: bold;
		opacity: 0.8;
	}

	.tag {
		display: inline-block;
		padding: 13px .7%;
		color: $white;
		font-size: 0.6em;
		font-weight: bold;
		letter-spacing: 1px;
		text-transform: uppercase;

		@include transition(all 0.2s);

		&:hover{
			background: $green;
			color: $black;
			opacity: 0.8;
		}
	}

	.taglink {
		text-decoration: none;
	}
}

.sidebar_tags {
	@extend .tagbar;
	background: $white;

	.tag {
		background: $off-black;
		opacity: 0.8;
		font-size: 0.55em !important;
		border: 2px solid $off-black;
		border-style: ridge;
		margin-right: 10px;
		margin-top: 20px;
	}
}

.arrow_to_infinity {
	width: 100%;
	display: block;
	height: 40px;
	margin-left: 5em;
}


/*#topinfo- container for an individual post.  Shared by both
the featured post and the remaining posts....*/

#topinfo {

	position: relative;
	width: 45%;
	float: left;

	a {
		text-decoration: none;
	}

	.author {
		float: left;
		position: relative;
		top: 0;
		margin-right: 8px;
		right: 0;

		span {
			font-size: 0.8em;
			text-transform: uppercase;
		}

		img {
			width: 100px;
		}
		.user {
			display: block;
			text-align: center;
		}
	}  
	
	.subcategory, .readtime {
		float: left;
	}

	.meta-wrapper {
		float: left;
		position: absolute;
		bottom: 8px;
		left: 115px;
	}

	.readtime {
		margin-right: 8px;
		padding: 10px;  /*in px to match exactly with the subcat sprite */
		background: darken($light-grey, 7%);

		img {
			width: 35px;
			display: inline-block;
			float: left;
		}

		.read_number {
			font-size: 2.2em;
			font-weight: 600;
			display: inline;
		}

		span {
			float: left;
			font-size: 0.8em;
			text-transform: uppercase;
			margin-left: 1em;
			line-height: 16px;
		}
	}
}

/*some special considerations for the featured post*/


.featured-post {
	min-height: 315px;
	background: url(../images/blog-images/headerbackground.png) no-repeat;
	background-size: 100%;
	margin-bottom: 2em;

	.arrow_to_infinity {
		width: 66%;
	}

	h1 {
		background: none;
		color: $black;
		width: 100%;
		float: left;
		font-weight: 100;
		text-transform: uppercase;
		letter-spacing: 1px;
		display: block;
		padding-bottom: 0px;
		margin: 0.25em 2em;
		text-align: left;
	}

	h2 {
		font-size: 2em;
	}


	.image-inner {
		margin: 1em 1em 0 5em;
		width: 37%;
	}

	#topinfo {
		.meta-wrapper,
		.author {
			display: inline-block;
		}

		.meta-wrapper {
			left: 117px;
		}
	}
}


.blog_header {

	@extend .featured-post;

	h1 {
		margin: 0.25em 1em;
	}
}

.title_info_container {
	padding-bottom: 10px;
	width: 100%;
	display: inline-block;
	text-align: left;
}

.image-inner {
	margin: 1em 1em 0 5em;
	width: 25%;
	display: inline-block;
	float: left;

	img {
		max-width: 100%;
		height: auto;
	}
}

/*Some special considerations for the secondary blog area*/

.secondary-blog {
	article {
		margin-bottom: 1em;
	}

	.arrow_to_infinity {
		width: 66%;
	}

	h2 {
		font-size: 1.25em;
	}

	#topinfo {
		width: 50%;

		.readtime {

			img {
				width: 25px;
			}

			.read_number {
				font-size: 1.5em;
				font-weight: 600;
				display: inline;
			}

			span {
				font-size: 0.6em;
				line-height: 12px;
			}
		}

		.meta-wrapper {
			left: 115px;
			bottom: 13px;
		}
	}
}

.single {
	.featured-post {
		h1 {
			font-size: 2em;
		}
	}
}




/*special css for twits and videos*/

	.tagged-twit {

		#topinfo {
			width: 95%;
			min-height: 225px;
		}

		.single-twit {
			position: absolute;
			width: 55%;
			left: 5%;
			top: 200px;

			img {
				width: 100%;
				max-width: 750px;
			}
		}

		.author-cat-time-container {
			float: right;
			width: 33%;
		}

		 .entry-content {
			margin-top: 13%;
		}

	}


/*Footer stuff*/

.tag_thumbnails img {
	width: 94px;
}

.boilerplate {
	margin: 0 !important;

	.bio {
		background: url(../images/blog-images/authorbackground.png);
	}

	.icons {
		float: left;
		margin-top: 9px;
	}
}



.authorprofile {
	background: none !important;
	float: left !important;

	img {
		width: 70px;
		float: left;
	}
}

.single hr,
.archive hr {
	border: none;
}

.single .arrow_to_infinity {
	background: url(../images/blog-images/arrow_to_infinity.png) no-repeat;
	width: 100%;
	display: block;
	height: 34px;
	background-size: 100%;
	margin-bottom: -15px;
}

.bottom-cta {
	height: 64px;
	margin-top: 75px;
	overflow: visible;
	margin-bottom: 35px;
}


#comments h1 {
	margin-bottom: 20px;
}

.ourlatestfooter,
.leadscon,
.askamarketer {
	width: 250px;
	height: 162px;
	display: inline-block;
	margin-top: -70px;
	background-size: 100% !important;
	margin-left: 20px;

	&:hover {
		background-position: 0px -163px;
		cursor: pointer;
	}
}

.ourlatestfooter {
	background: url(../images/blog-images/ourlatestfooter.jpg) no-repeat;
}

.leadscon {
	background: url(../images/blog-images/leadscon.jpg) no-repeat;
}

.askamarketer {
	background: url(../images/blog-images/askamarketer.jpg) no-repeat;
}

.bottom-cta-container {
	width: 825px;
	display: block;
	margin: auto;
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 1em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}

/*********************
FOOTER STYLES
*********************/


.footer {
	#top-footer {
		width: 100%;
		float: left;
		background: $off-black;
		display:block;

		nav {
			width: 100%;

			ul {
				width: 100%;

				li {
					float: left;
					text-transform: uppercase;
					display: inline-block;
					font-size: 1.5em;
					width: 24.99%;
					text-align: left;
					padding-left: 20px;

					a {
						color: $white;
						text-decoration: none;
					}
				}
			}

			ul.sub-menu,
			ul.children {
				margin-top: 0;

				li {
					padding-left: 0;
					width: 100%;
					a {
						font-size: 0.4em;
					}
				}
			}
		}
	}
}