/******************************************************************
Site Name:Brafton
Author:Michael DeWitt

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	margin-top: 0px;
}

body {
	margin-top: 0px;
	font-family: $proxima;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  -webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.home { 						  /* home page */
	/*format rev slider*/

	.rev_slider_wrapper {
		float: left;
		display: none !important;
		
		div {
			background-color: $white;
		}

	}

	/*below the slider*/

	.sidebar_arrow_to_infinity {
		width: 100%;
		height: 30px;
		float: left;
		opacity: 0.5;
		background: url(../images/blog-images/sidebar_arrow_to_infinity.png) no-repeat;
		background-size: 100%;
	}

	.icons { line-height: 0; }


	#home-social .icons a {
    border-radius: 50%;
	
	}
	.icons {
	    border-bottom: 0;
	}


	.search-icon {
	    height: 31px;
	}

	#search-query {
		width: 66%;
		float: left;
		border: 2px solid $light-grey;
	}

	#search-submit {
	    padding: 0;
	    line-height: 0;
	    border: 0;
	    background: $white;
	    float: left;
	}

	.latest_homepage_headlines {
		
		h3 {
		    font-size: 1.3em;
		    margin-top: 0px;
		    margin-bottom: 20px;
		    text-align: center;
		    padding: 5px;
		    background: $light-grey;
		    text-transform: uppercase;
		    font-weight: 100;
		    color: $black;

		    a {
	    		color: $black;
	    		text-decoration: none;
			}		
		}
	}

	.homepage-demo-request {
	    font-size: 1.5em;
	}

	.homepage_article {
	    display: block;
	    width: 100%;
	    float: left;
	    margin: 10px 0px;
	    font-size: 16px;

	    img {
		    float: left;
		    margin-right: 10px;
		    width: 160px;
		    height: 160px;
		}
	}

	.blog_homepage_article, .news_homepage_article {
	    margin-top: 20px;
	}

	.homepage_article {

			.article-title {
	    		line-height: 20px;
	    	}

	    	a {
			    color: $black;
			    text-decoration: none;
			    font-weight: 100;
			
			&:hover {
			    text-decoration: underline;
			}
		}
	}

	.time-tag {
	    margin-top: 20px;
			a {
		    margin-right: 20px !important;
		    text-transform: uppercase;
		}
	}

	#home-social a {
	    margin-right: 0;
	    font-weight: 100;
	}

	li.widget_search {
	    margin-bottom: 0;
	}
} 

.arrow_to_infinity {
	width: 100%;
	display: block;
	height: 40px;
	float: left;
	opacity: 0.5;
	background: url(../images/blog-images/sidebar_arrow_to_infinity.png) no-repeat;
	background-size: 100%;
}

.featured-post {
	h1 {
		text-align: center;
	}
}

.image-inner {
	img {
		display: block;
		margin: auto;
	}
}

.title_info_container {
	text-align: center;
}


.single {
	.single-twit {
		position: relative;
		display: block;
		width: 100%;
		top: auto;

		img {
			max-width: 100%;
		}
	}
}

                        

 .post-type-archive-brafton_glossary {
 	h2 {
 		text-align: center;
 		border-bottom: 1px solid #AAA;
 	}

 	h3 {
 		font-weight: bold;
 	}

 	#pagination {
 		text-align: center;
 		background-color: $black;
 		padding: 1em;


 		div {
 			color: $white;
 			display: inline;
 			margin-right: 1em
 		}

 		a {
 			color: $white;
 			text-decoration: none;
 			padding: 0.5em;

 			&:hover {
 				background-color: $off-black;
 			}
 		}
 	}
}  

.post-type-archive-support {

	#main {
		min-height: 600px;
	}

	.article-header {
		display: block;
		width: 100%;
	}

	.feature {
		margin-top: 1em;
		background: none;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-left: 2px solid $black;

		p {
			margin: 0 !important;
		}
	}

	header {
		h1 {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	#actions {
		a {
			width: 100%;
			padding: 0.5em;
			text-align: center;
			text-decoration: none;
			font-size: 1em;
			border-radius: 5px;
		}
	}

	h2, h3 {
		font-weight: bold;
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	#menu-support {
		padding-left: 12px;
		border-left: 2px solid $black;

		li {

			a {
				text-decoration: none;
				font-weight: bold;
				text-transform: uppercase;
				padding: 10px;
				letter-spacing: 2px;
				border-radius: 3px;

				@include transition(all 0.2s);

				&:hover {
					background: $black;
					color: $white;
				}
			}
		}
	}

	.support-ul {
		/*indent submenus*/
		ul {
			padding-left: 50px;
		}

		li {

			a {
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: 1px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	table {
		td {
			padding: 8px;
			border: 1px solid $black;
		}
	}
}  

.single-support {
	@extend .post-type-archive-support;

}

.post-type-archive-infographic {

	article {
		height: 380px;
		float: left;
		overflow: hidden;
		margin-bottom: 2em;
		position: relative;
		border: thick solid $black;
		padding: 0;

		&.featured {
			width: 100%;	
		}
	}

	.infographic-shell {
		height: auto;
		border-radius: 0px;
		margin-right: 0;

		img {
			width: 100%;
			height: auto;
			border-radius: 0;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.data {
		font-size: 0.9em;
		top: 0;
		left: 0;
		position: absolute;
		text-align: left;
		width: 100%;
		margin-top: -20px;
		padding-top: 15px;

		h5 {
			margin: 0;
			line-height: 1.25em;
			background: $black;
			color: $white;
			padding: 2em;
			opacity: 0.8;

			&:hover {
				opacity: 1;
			}
		}

		time {
			padding: 0.5em;
			display: block;
			background: $light-grey;
		}
	}
}                 

.single-infographic {
	.infographic-container {
		text-align: center;
	}

	#actions {
		margin: 1em 0;

		.button {
			margin-right: 1em;
			text-transform: uppercase;
			text-decoration: none;
			color: $black;
			padding: 0.85em;
			font-size: 0.8em;
			font-weight: bold;
			letter-spacing: 2px;
		}
	}
}

.single-support {
	.feature {
		width: auto;
		display: inline-block;
		float: none;
		text-align: center;	

		p {
			margin-bottom: 0 !important;
		}
	}

	h3 {
		font-weight: bold;
	}

	#actions {
		a {
			padding: 0.5em;
			text-decoration: none;
			font-size: 1em;
			border-radius: 5px;
		}
	}
}                    

.page-template {
	.vertical-gup {
		float: left;
	}
}            

.page {
	.feature {
		text-align: center;
	}
}

/*********************
BRAFTON MISSION PAGE TEMPLATE 
*********************/

.page-template-page-content-writers-php,
.page-template-page-mission-php {
	.graphical-header {
		h1 {
			color: $white;
			letter-spacing: 20px;
		}
	}
}

.mission_container {
	width: 100%;

	img {
		width: 100%;
	}

	.mission_row{

		.subhead {
			text-align: center;
			font-size: 2em;
			padding: 1em;
		}
		.copy {
			padding: 2em;

			h2 {
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-top: 0;
				font-size: 2.25em;
			}

			p {
				font-size: 1.25em;
			}

			.item {
				display: block;
				width: 100%;
				float: left;
				margin-bottom: 1.25em;

				.big {
					font-size: 2.25em;
					display: inline;
					margin-right: 12px;
					text-transform: uppercase;
					letter-spacing: 3px;

				}

				.text {
					display: inline;
					font-size: 1.25em;
				}
			}
		}
	}
}



/*********************
GENERAL STYLES FOR FULL WIDTH PAGE TEMPLATE
*********************/

.gray_body {
	background: darken($light-grey, 5%);
	float: left;
}

.green_body {
	background: lighten($green, 30%);
	float: left;
}


.template_section {
	width: 100%;
	float: left;

	.content_container {
		padding: 3em 0;
	}

	&.learn_more {
		float: left;
	}


	h2 {
		text-transform: uppercase;
		text-align: center;
		margin-top: 0;
	}


	.content_body {
		text-align: justify;
		width: 85%;
		margin: auto;
		display: block;
	}

	&.learn_more {
		float: left;
		padding-bottom: 2em;

		img {
			width: 300px;
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}
}


/*and for the marketing services page...*/

.services_container {


	.template_section {

		&.brafton_offers {

			strong {
				text-transform: uppercase;

			}
		}

		&.link_graphics{
			float: left;

			.link_graphics_inner {

				width: 66%;
				display: block;
				margin: auto;
				padding-top: 0.75em;

				.img_container {
					overflow: hidden;
					padding-bottom: 0.75em;

					.sprite {

						width: 100%;
						height: 0;
						padding-bottom: 99%;
						background-position:0 0;
						background-size: 100%;
						display: block;


						&:hover {
							background-position: 0 100%;
						}
					}

					.analytics {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/analytics.png');
					}

					.content-marketing {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/content.png');
					}

					.infographic-marketing {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/graphics.png');
					}

					.news-content-marketing {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/email.png');
					}

					.search-engine-optimization {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/seo.png');
					}

					.social-media-marketing {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/socialmedia.png');
					}

					.the-editorial-brief {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/writing.png');
					}

					.video-marketing {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/video.png');
					}

					.client-examples {
						background-image: url('/wp-content/themes/brafton/library/images/marketingservices/clients.png');
					}
				}
			}
		}
	}
}

.fixed-page-footer {
	height: 50px;
	width: 100%;
	display: block;
	background: rgba(255, 255, 255, 0.7);
	float: left;
	text-align: center;

	.contact_us {

		display: inline-block;
		margin: auto;

		a {
			text-transform: uppercase;
			text-decoration: none;
			font-size: 1.5em;
			background: $green;
			color: $off-black;
			float: left;
			padding: 8px;

			@include transition(all 0.2s);

			&:hover {
				background: $off-black;
				color: $green;
			}
		}

		.conversation {
			padding: 13px;
			font-size: 1.2em;
			margin-left: 5px;
			display: inline-block;
			float: left;
		}
	}
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 95%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $black;
}

.mobile_logo {
	display: none;
	width: 55px;
}

.full_logo {
	display: block;
	width: 275px;
}
	.logo {
		float: left;

		img {
			width: 100%;
		}

		a {
			color: $white;
		}
	}

/*Hide massive graphical headers on mobile- reveal in 768px stylesheet*/

.graphical-header {

	img {
		display: none;
	}

	h1 {
		position: relative;
		display: block;
		background: rgba($green, 0.8);
		padding: 25px;
		text-align: center;
		width: 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
		float: left;
		margin-top: 0;
		font-size: 2.25em;

		/*&:after {
			content: "";
			position: absolute;
			border-bottom: 18px solid transparent;
			border-top: 18px solid transparent;
			top: 33%;
			right: 0;
			margin-left: -10px;
			border-right: 20px solid white;
			z-index: 1000;
		}*/
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

#nav-toggle {
	position: absolute;
	right: -20px;
	top: 3px;

	span {
		cursor: pointer;
		border-radius: 1px;
		height: 5px;
		width: 35px;
		top: 30px;
		background: white;
		position: absolute;
		display: block;
		content: '';

		&:after, &:before {
				cursor: pointer;
				border-radius: 1px;
				height: 5px;
				width: 35px;
				background: white;
				position: absolute;
				display: block;
				content: '';
			}

		&:before {
			top: -10px
		 }

		&:after {
			bottom: -10px;
		}
  	}

  	&:focus {
  		border:none;
  	}
}

nav {
	float: left;
	width: 100%;
}

.header {

	.nav {
		border-bottom: 0;
		margin: 0;

		li {

			a {
				display: block;
				font-size: 1.5em;
				color: $white;
				text-decoration: none;
				text-transform: uppercase;
				padding: 0.5em;

				/*
				remember this is for mobile ONLY, so there's no need
				to even declare hover styles here, you can do it in
				the style.scss file where it's relevant. We want to
				keep this file as small as possible!
				*/
				&:hover, &:focus {
					text-decoration: none;
				}
			}

			&:first-child {}

			&:last-child {}

			/*
			so you really have to rethink your dropdowns for mobile.
			you don't want to have it expand too much because the
			screen is so small. How you manage your menu should
			depend on the project. Here's some great info on it:
			http://www.alistapart.com/articles/organizing-mobile/
			*/
			ul.sub-menu,
			ul.children {

				li {

					a {
						padding-left: 75px;

						&:hover,
						&:focus {
							color: $white;
						}

						&:link {}

					}

					&:first-child {}

					&:last-child {}

				}

			}

		} /* end .menu li */

		li.highlight {
			a {
				background: #8dc01d;
				color: #000;
				font-weight: bold;
				font-size: 1.5em;

				@include transition(all 0.3s);

				&:hover {
					color: $white;
				}
			}
		}

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {

			a {}

		}  /* end current highlighters */

	} /* end .nav */

} /*end .header*/


/*********************
MARKETO FORMS
**********************/

.mktField {

	margin-bottom: 25px;

	.cell-left {
		margin-right: 5%;
		padding: 0.5em 0;
		text-align: right;
		font-size: 0.85em;
		width: 25%;
		float: left;
		display: inline-block;
	}

	.mktFormText {
		width: 70%;
	}
}

form .req {
	border-left: 2px solid red;
}

.feature {
	padding: 0.75em;
	background: $gold;
	float: left;
	font-weight: 600;
	font-size: 0.9em;
	margin-bottom: 0.5em;
	width: 100%;
}

/*Support pages-Hide CMS bar on mobile devices*/

.support-cms-bar {
	display: none;
}

/*********************
Blog and Archives- hide some components until tablet view- 768up.scss
**********************/
.tagbar,
.scrolly {
	display: none;
}

#topinfo {

	.author,
	.meta-wrapper {
		display: none;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	
		.hentry {
			background-color: $white;
			border-radius: 3px;
			margin-bottom: 1.5em;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
				padding-bottom: 0;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {
		}

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em;
			padding-top: 1em;

			p {
				margin: 0 0 1.5em;
			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			.boilerplate {
				.bio {
					overflow: hidden;

					.description {
						padding: 10px;
					}
				}

				.author_avatar_container {
					padding: 0;
					width: 80px;
					float: left;
					margin-right: 10px;

					img {
						margin-bottom: 0;
					}
				}

				.author_meta {
					margin-top: 10px;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;
    margin: 0 auto;
    width: 50%;

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $black;

      &:hover, &:focus {
      	background-color: $black;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	img {
		max-width: 100%;
	}

	#testi {
		height: 510px;
		overflow: hidden;
		clear: both;
		margin-top: -81px;
	}

	.blog-hub-sidebar-feature {
		&.downloadables {
			max-height: 275px;
			overflow: hidden;
		}
	}

	.ourlatestfooter {

		background: url(../images/blog-images/ourlatestfooter.jpg) no-repeat;
		background-position: 0 0;
		height: 0;
		width: 100%;
		padding-bottom: 64%;
		display: block;
		background-size: 100% !important;
		margin-left: 0;

		&:hover {
			background-position: 0 100%;
			cursor: pointer;
		}
	}
}

	.widgettitle {}

	.widget {

		list-style-type: none;

		h4 {
			text-align: center;
			margin-bottom: 1em;
			font-size: 1.4em;
			font-weight: 100;
			text-transform: uppercase;
		}

		.search-icon {
		    height: 31px;
		}

		#search-query {
			width: 66%;
			float: left;
			border: 2px solid $light-grey;
		}

		#search-submit {
		    padding: 0;
		    line-height: 0;
		    border: 0;
		    background: $white;
		    float: left;
		}

		.blog-sidebar-cta {
			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			h3 {
				text-transform: uppercase;
				text-align: center;
				font-size: 1.65em;
				margin: 0;
			}

			img {
				width: 100%;
				height: auto;
			}
		}


		ul {

			list-style-type: none;

			li {

				list-style-type: none;

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;

	#top-footer {
		display: none;
	}
}

.bottom-case-cta {
	display: none;
}

video {
	max-width: 100%;
}

#crumbs {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.75em;
}
/*===========================
Legacy style classes...  :(
=============================*/

.inline {
	display: inline-block;
	margin: 0 1em;
	vertical-align: top;
}

.aligncenter {
	display: block;
	line-height: 0;
	margin: 1.5em auto;
	text-align: center;
}

.entry-content .aligncenter, .entry-content img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}

.wp-caption-text {
	font-size: 1em;
	background: #EEE;
	line-height: 1.3;
	margin: 1em 0 0;
	padding: 0.5em 1em;
	text-align: center;
}

.down {
	text-align: center;
	margin-bottom: 1em;
	font-size: 1.5em;
	text-transform: uppercase;
}

.pdflink {
	text-decoration: none;

	.text {
		padding: 0.5em;
		font-size: 1.5em;
		margin-bottom: 1em;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		background: $green;
		letter-spacing: 2px;
	}
}
